<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- launchd プロセスで一意ならOK -->
    <key>Label</key>
    <string>com.example.hello</string>

    <!-- 実行するコマンド -->
    <key>ProgramArguments</key>
    <array>
        <!-- ~が使えないことに注意 -->
        <string>/Users/luiza/Downloads/hello_shell.sh</string>
    </array>

    <!-- launchd を読み込んだタイミングで実行 -->
    <key>RunAtLoad</key>
    <true/>

    <!-- ログ保存用 -->
    <key>StandardOutPath</key>
    <string>/Users/ritumutaka/launch_scripts/hello/std_out.txt</string>
    <key>StandardErrorPath</key>
    <string>/Users/ritumutaka/launch_scripts/hello/std_err.txt</string>
</dict>
</plist>
